<div class="welcome">
  <div class="welcome-container"> 
    <h1>Magic Github Explorer</h1>
    <p>find any github user with this app</p>
    <img src="https://s.dou.ua/CACHE/images/img/static/companies/TechMagic_w/15871be024d59dfec0fe1a8b649023b7.png" alt="TechMagic">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas corporis deleniti laborum ducimus ipsam praesentium aut quo labore, 
      amet corrupti enim sit cupiditate magnam assumenda iusto nemo, doloribus debitis voluptas! Lorem ipsum dolor, sit amet consectetur 
      adipisicing elit. Optio provident atque placeat officiis voluptatum ullam, mollitia tempore, expedita temporibus necessitatibus totam 
      dolore minima deleniti quaerat fuga, aliquam nobis? Omnis, natus?</p>
  </div>

</div>